# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
backend/output/
*.pdf

# Node/Vite
node_modules/
dist/
dist-ssr/
*.local

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
